$container-width: 1140px;
$error-color: #bf1650;
$success-color: #00af3e;
$text-color-primary: #5f5f5f;
$text-color-secondary: #707070;
$text-color-dark: #191919;
$border-color: #dedede;
$light-border: #eeeeee;
$form-border: #bdbdbd;
$placeholder_color: #cacaca;
$teal: #27adb0;
$bg-teal: #F0FFFF;
$orange: #f57220;
$bg-orange: #FFEBDF;
$bg-gray: #fbfbfb;
@mixin mobile {
    @media screen and (max-width: 767.98px) {
        @content;
    }
}
@mixin sm-to-md {
    @media screen and (max-width: 991px) and (min-width: 768px) {
        @content;
    }
}
@mixin to-md {
    @media screen and (max-width: 991px) {
        @content;
    }
}
@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
@mixin container-wid {
    @media screen and (max-width: 1225px) and (min-width: 992px) {
        @content;
    }
}

@mixin select_dropdown {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMy4xOCAxNC45NyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMyMzFmMjA7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTEuNjIsMTAuNzZsMy4xMi0zLjYzTDIwLjI0LjcxYTEuNjEsMS42MSwwLDAsMSwxLjkxLS41LDEuNTcsMS41NywwLDAsMSwxLDEuNjQsMS44OCwxLjg4LDAsMCwxLS40MSwxUTE3Ljg1LDguNiwxMi45MiwxNC4zM2ExLjY0LDEuNjQsMCwwLDEtMi42MSwwTC40MiwyLjc2QTEuNjUsMS42NSwwLDAsMSwuNTcuNDEsMS42MywxLjYzLDAsMCwxLDIuOTQuNjNsOC4yNyw5LjY1WiIvPjwvZz48L2c+PC9zdmc+") right .75rem center/8px 10px no-repeat;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
}